#events-list {
    background-color: rgb(196, 205, 228);
    width: 20%;
    max-width: 300px;
    overflow-y: auto;
    margin-left: auto;
    max-height: 90vh; 
    text-align: center;
}

#event-content-container {
    background-color: rgb(196, 205, 228);
    width: 60%;
    margin-left: 2%;
    margin-right: auto;
}

.event-icon {
    width: 100%;
    max-width: 250px;
}