* {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    /* user-drag: none; */
}

#raid-background {
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: scale(1.05);
    background: center center;
    background-size: cover;
    filter: blur(55px); /* TEMP - 15px */
}

#raid-timeline {
    margin-top: 0.5em;
    margin-inline: auto;
    width: 80%;
    /* height: 300px; */
    padding: 0.75em;
    background-color: #282a3587;
    display: flex;
    position: relative;
}

#timeline-filter-container {
    margin-top: 2%;
    margin-inline: auto;
    width: 80%;
    display: flex;
}

#timeline-filter-button {
    background-color: #282a3587;
    padding: 0.5em;
    width: fit-content;
}

#timeline-filter-button svg {
    filter: invert(1);
    margin-top: 0.25em;
}

#timeline-filters {
    background-color: #282a3587;
    display: flex;
    transition-property: width, max-width;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 0;
    max-width: 0;
}

#timeline-filters.show {
    width: 100%;
    max-width: 1000px;
}

#timeline-filters div {
    width: 70px;
    height: 35px;
    margin-left: 1em;
    align-self: center;
}

#timeline-filters img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div#raid-filter-divider {
    background-color: white;
    width: 0.25em;
}

#timeline-filters div.raid-terrain-filter {
    width: 50px;
}

.raid-boss-filter.selected,
.raid-terrain-filter.selected {
    outline: white 0.3em solid;
}

#timeline-filter-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 40px solid #282a3587;
    border-bottom: 25px solid transparent;
}

#server-labels div {
    height: 100px;
    position: relative;
    width: 3em;
}

#server-labels div p {
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    background-color: #ffffff17;
}

#server-labels div p:hover {
    background-color: #ffffff40;
}

#timelines-wrapper {
    overflow: overlay;
    padding: 0.3em;
}

#timelines-wrapper::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

#timelines-wrapper::-webkit-scrollbar-track {
    background-color: transparent;
}

#timelines-wrapper::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

#timelines-expand-arrow {
    position: absolute;
    bottom: 0.2em;
    left: 0.2em;
    background-color: #ffffff21;
    width: 2em;
    height: 2em;
    border-radius: 10px;
    text-align: center;
}

#timelines-expand-arrow:hover {
    filter: brightness(0.7);
}

#timelines-expand-arrow svg {
    filter: invert(1);
    margin-top: 0.6em;
}

.server-timeline {
    height: 100px;
    display: flex;
}

.raid-card {
    min-width: 200px;
    max-width: 200px;
    height: 80px;
    margin-right: 20px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.raid-card:hover .boss-icon {
    scale: 1.2;
}

.raid-card.selected {
    outline: white 0.3em solid;
}

.raid-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 0.2s linear;
}

.raid-heavy {
    background-color: #b26d1f82;
}

.raid-special {
    background-color: #216f9c82;
}

.raid-light {
    background-color: #a70c1982;
}

.terrain-bubble {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    background-color: #282a35cf;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    text-align: center;
}

.terrain-bubble img {
    object-fit: unset;
    width: 35px;
    height: 35px;
}

.raid-date {
    position: absolute;
    bottom: 0;
    left: 0.3em;
    background-color: #282a35cf;
    padding: 0.1em;
    color: white;
}

.raid-season {
    position: absolute;
    top: 0;
    right: 0.3em;
    background-color: #282a35cf;
    padding: 0.1em;
    color: white;
    z-index: 1;
}

.raid-bosscount {
    opacity: 0%;
    position: absolute;
    /* top: 1.5em; */
    right: 0.3em;
    background-color: #282a35cf;
    padding: 0.1em;
    color: white;
}

.raid-terraincount {
    opacity: 0%;
    position: absolute;
    /* top: 3.1em; */
    right: 0.3em;
    background-color: #282a35cf;
    padding: 0.1em;
    color: white;
}

.raid-card:hover .raid-bosscount,
.raid-card:hover .raid-terraincount {
    opacity: 100%;
}

.raid-card:hover .raid-bosscount {
    transform: translateY(1.5em);
}

.raid-card:hover .raid-terraincount {
    transform: translateY(3.1em);
}

.raid-bosscount,
.raid-terraincount {
    transition: transform ease 0.5s 0s, opacity ease 0.5s 0s;
}

.raid-difficulty {
    position: absolute;
    bottom: 0;
    /* left: 50%; */
    right: 0.3em;
    background-color: #282a35cf;
    padding: 0.1em;
    color: white;
    transition: transform ease 0.5s 0s;
}

.raid-card:hover .raid-difficulty {
    transform: translateX(-3em);
}

.timeline-end {
    min-width: 1px;
}

#raid-submissions {
    margin-top: 2em;
    margin-inline: auto;
    width: 80%;
    padding: 0.75em;
    background-color: #282a3587;
    min-height: 500px;
    position: relative;
}

#raid-difficulties {
    display: flex;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

#raid-difficulties div {
    color: white;
    padding: 1em;
    background-color: #ffffff12;
}

#raid-difficulties div:hover {
    background-color: #ffffff40;
}

#raid-difficulties div.selected {
    background-color: #ffffff40;
}

#raid-card-holder {
    position: absolute;
    top: 0;
    right: 0;
}

#raid-card-holder .raid-card {
    margin-right: 0;
}

#raid-video-cards {
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
}

.raid-video-card {
    max-width: 430px;
    width: 430px;
    max-height: 300px;
    /* height: 300px; */
    background-color: #282a3587;
    margin-right: 2em;
    border: white 0.1em solid;
    border-radius: 15px;
    position: relative;
    margin-bottom: 1em;
}

.raid-video-card:hover {
    box-shadow: 7px 7px 10px 0px;
}

.raid-video-card-header {
    display: flex;
}

.raid-viewer-text {
    color: lightskyblue;
}

.raid-viewer-text a {
    color: lightskyblue;
}

#raid-viewer-teams .raid-team {
    margin-inline: unset;
}

#submission-viewer .raid-modal-body {
    display: flex;
    flex-wrap: wrap;
}

#raid-viewer-main {
    margin-right: 2em;
}

#raid-viewer-teams {
    height: calc(100vh - 22.5em);
}

.raid-score {
    color: #ccff00;
    font-size: 1.5em;
    margin-left: 0.5em;
}

.player-level {
    color: white;
    font-size: 1.5em;
    margin-left: 1.5em;
}

.teams-used {
    color: white;
    font-size: 1.5em;
    margin-left: 1.5em;
}

.raid-teams {
    max-height: 80%;
    overflow-x: hidden;
    margin-bottom: 2em;
}

.raid-teams::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.raid-teams::-webkit-scrollbar-track {
    background-color: transparent;
}

.raid-teams::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.raid-team {
    display: flex;
    background-color: #ffffff12;
    margin-bottom: 0.2em;
    margin-inline: auto;
    border-radius: 10px;
    width: fit-content;
}

.student {
    margin-right: 0.5em;
    position: relative;
}

.student-empty {
    border: #ffffff5e 2px dashed;
    border-radius: 15px;
    min-width: 45px;
    height: 85%;
    margin-top: 0.1em;
}

.student img {
    max-width: 50px;
    border-radius: 15px;
}

.team-strikers {
    display: flex;
    background-color: #ffffff3d;
    padding-left: 0.3em;
    padding-top: 0.2em;
    border-radius: 15px;
}

.team-specials {
    display: flex;
    margin-left: 1em;
    background-color: #ffffff3d;
    padding-left: 0.3em;
    padding-top: 0.2em;
    padding-right: 0.4em;
    border-radius: 15px;
}

.team-specials .student:last-child {
    margin-right: 0;
}

.raid-video-link {
    position: absolute;
    left: 1em;
    bottom: 0.5em;
}

.raid-video-link a {
    color: lightskyblue;
    max-width: 400px;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.team-num {
    color: white;
    padding-inline: 0.8em;
    margin-block: auto;
}

#raid-submissions-header {
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
}

#raid-video-filters {
    color: white;
    display: flex;
    margin-bottom: 0.5em;
}

.raid-video-filter {
    margin-right: 1em;
    text-align: center;
}

.raid-students-filter {
    display: flex;
}

.student-filter-slot {
    border: white 2px dashed;
    margin-inline: 0.5em;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}

.student-filter-slot div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.student-filtered div {
    display: none;
}

.student-filter-slot img {
    width: 100%;
}

#raid-start-submission {
    color: white;
    width: fit-content;
    font-size: 1.25em;
    background-color: #ffffff12;
    padding: 0.5em;
}

#raid-start-submission:hover {
    background-color: #ffffff40;
}

.raid-modal {
    z-index: 11;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    background-color: #ffffff40;
}

.raid-modal-content-wrapper {
    max-height: 90%;
    /* height: 800px; */
    max-width: 1200px;
    margin: auto;
    border-radius: 20px;
    background-color: #282a35fa;
    margin-top: 30px;
    color: white;
    font-size: 1.5em;
}

.raid-modal-header {
    margin-left: 1em;
    padding-top: 0.5em;
    display: flex;
}

#submission-save-button, #submission-edit-button {
    width: 1em;
    margin-left: 1em;
    filter: invert(0.7) sepia(1) hue-rotate(385deg) saturate(3);
}

#submission-save-button:hover {
    filter: invert(0.6);
}

#submission-edit-button:hover {
    filter: invert(0.6);
}

.raid-modal-body {
    padding: 1em;
}

.raid-modal-body input {
    font-size: 1em;
    text-align: center;
}

.raid-modal-body select {
    font-size: 1em;
}

#raid-submission-score {
    width: 6em;
}

#raid-submission-level {
    width: 2em;
}

#raid-submission-videolink {
    font-size: 0.7em;
    height: 2em;
    width: 30em;
}

#raid-submission-basic-inputs {
    margin-right: 1em;
    margin-bottom: 1em;
}

#raid-submission-top {
    display: flex;
    flex-wrap: wrap;
}

.raid-submission-input-label {
    margin-top: 0.5em;
}

.team-student {
    margin-right: 0.5em;
    width: 80px;
    max-width: 80px;
    height: 86.25px;
    max-height: 86.25px;
    border-radius: 15px;
    margin-bottom: 0.2em;
    display: flex;
    overflow: hidden;
    border: transparent 2px solid;
    position: relative;
}

.student-blank {
    border: white 2px dashed;
}

.team-student.student-blank img {
    filter: invert(1);
    width: 1.25em;
    margin: auto;
}

.team-student img {
    width: 100%;
}

.student-borrow::after {
    content: "A";
    position: absolute;
    background-image: linear-gradient(to bottom right, #99f8fd, #63a1fe);
    color: #133C60;
    border-radius: 5px;
    right: 0.3em;
    padding-inline: 0.1em;
}

.team-specials .team-student:last-child {
    margin-right: 0;
}

#raid-submission-teams {
    height: calc(100vh - 22.5em);
}

#raid-submission-teams .raid-team {
    margin-inline: unset;
}

#raid-submission-teams .raid-team:only-child .team-remove-button {
    visibility: hidden;
}

#raid-submission-teams .raid-team:first-child .team-up-button {
    visibility: hidden;
}

#raid-submission-teams .raid-team:last-child .team-down-button {
    visibility: hidden;
}

.team-actionbar {
    display: flex;
    margin-left: 2em;
}

.team-action-button {
    width: 1em;
    height: 1em;
    align-self: center;
    padding: 0.5em;
    border-radius: 15px;
    filter: invert(1);
    margin-right: 1em;
}

.team-action-button:hover {
    background-color: #ffffff33;
}

#student-searcher {
    position: fixed;
    z-index: 11;
    display: flex;
    flex-direction: column;
    transform: translate(0, -45px);
}

#student-searcher-body {
    background-color: #ffffff69;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 10px;
    border: white 2px solid;
}

#student-searchbox {
    font-size: 1.5em;
    padding-left: 0.3em;
    max-width: 10em;
    margin-top: 0.25em;
}

#student-search-slots {
    display: flex;
}

.student-searched {
    max-width: 5em;
    border-radius: 15px;
}

#student-search-slots div {
    position: relative;
}

#student-search-slots p {
    top: 80%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: -1px -1px 0 #ffffff, 0px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 0px 1px 0 #fff, 1px 1px 0 #fff;
    padding-bottom: 1px;
    padding-top: 1px;
}

#search-footer {
    display: flex;
}

#search-footer.borrow-used #search-borrow-button {
    display: none;
}

#search-borrow-button {
    font-size: 1.5em;
    background-color: #ffffff1f;
    margin-left: 1em;
    padding-inline: 0.5em;
    margin-top: 0.3em;
    border-radius: 10px;
}

#search-borrow-button:hover {
    background-color: #ffffff61;
}

#search-borrow-button.selected {
    background-color: #ffffffa1;
}

#mobile-collapsed-server-indicator {
    display: none;
}

@media (max-width: 800px) {

    #raid-timeline {
        flex-direction: column;
        max-height: 70vh;
        overflow: overlay;
        width: 90%;
    }

    #server-labels {
        display: flex;
    }

    .server-timeline {
        height: unset;
        display: flex;
        flex-direction: column;
    }

    .raid-card {
        min-height: 80px;
        min-width: 150px;
        margin-bottom: 0.5em;
    }

    #timelines-wrapper {
        display: flex;
        overflow: unset;
    }

    #Japan-timeline {
        padding-left: 0.5em;
    }

    #timeline-filter-container {
        width: 90%;
    }

    #timeline-filters {
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 0;
    }

    #timeline-filters.show {
        max-height: 180px;
    }

    #timeline-filter-right {
        border-top: 24px solid transparent;
        border-bottom: 24px solid transparent;
    }

    #raid-filter-divider {
        display: none;
    }

    #timeline-filter-button {
        height: fit-content;
    }

    .raid-boss-filter:nth-child(-n+3) {
        margin-top: 0.3em;
    }

    #timeline-filters div {
        margin-bottom: 0.3em;
        margin-left: 0.5em;
    }

    #raid-timeline.collapsed {
        width: fit-content;
    }

    #raid-timeline.collapsed .raid-card {
        display: none;
    }

    #raid-timeline.collapsed .raid-card.selected {
        display: flex;
        margin-right: unset;
        margin-bottom: unset;
        margin-left: 30px;
    }

    #raid-timeline.collapsed #server-labels {
        display: none;
    }

    #server-labels div {
        height: unset;
        padding-block: 1em;
        width: unset;
        min-width: 170px;
    }

    #server-labels div p {
        transform: translate(-50%, -50%);
        left: 50%
    }

    #raid-submissions {
        margin-top: 0.5em;
        width: 90%;
    }

    #raid-card-holder {
        display: none;
    }

    #raid-submissions-header {
        max-width: 100%;
    }

    #raid-difficulties {
        overflow: overlay;
    }

    #raid-difficulties div {
        white-space: nowrap;
        padding: 0.3em;
        margin-right: 0.3em;
    }

    .student-filter-slot {
        width: 1.5em;
        height: 1.5em;
    }

    #raid-start-submission {
        font-size: 1em;
    }

    #raid-video-cards {
        margin-top: 1em;
    }

    .raid-video-card {
        font-size: 0.7em;
        max-height: 200px;
    }

    .student img {
        max-width: 35px;
        border-radius: 10px;
    }

    .raid-modal-content-wrapper {
        font-size: 0.9em;
    }

    #raid-submission-teams {
        margin-bottom: 0;
        height: calc(100vh - 27.5em);
    }

    #raid-submission-teams .raid-team {
        flex-wrap: wrap;
    }

    #raid-submission-teams .team-student {
        width: 35px;
        max-width: 35px;
        height: 37.7px;
        max-height: 37.7px;
        margin-right: 0.3em;
    }

    #raid-submission-teams .team-num {
        padding-inline: 0.6em;
    }

    .team-specials .team-student:last-child {
        margin-right: 0;
    }

    .team-specials {
        margin-left: 0.5em;
    }

    #student-searcher {
        left: 1em !important;
    }

    .student-searched {
        max-width: 3em;
    }

    #student-searchbox {
        font-size: 1em;
    }

    #search-borrow-button {
        margin-left: 0.5em;
    }

    #raid-timeline.collapsed #mobile-collapsed-server-indicator {
        display: flex;
        position: absolute;
        top: 0.2em;
        left: 0.2em;
        background-color: #ffffff21;
        width: 2em;
        height: 2em;
        border-radius: 10px;
        text-align: center;
        color: white;
        align-items: center;
        justify-content: center;
    }

    .raid-card:hover .raid-difficulty {
        transform: translateX(-2em);
    }
}