body {
    margin: 0;
    height: 100vh;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#body {
    height: 100vh !important;
}

#content-container {
    background-color: #f7f7f7;
    height: 100%;
    margin-inline: auto;
    display: flex;
}

#background-image {
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url(/game/guesser/BG_ReceptionRoom.jpg);
    background-size: cover;
    filter: blur(24px);
}

#content-body {
    width: 95%;
    height: 95%;
    margin: auto;
    position: relative;
    display: flex;
}

#content-1,
#content-3 {
    width: 30%;
}

#content-2 {
    width: 40%;
}

#content-3 {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.record-box {
    background-color: #ffffffc9;
    padding: 0.5em;
    border-radius: 20px;
    inline-size: fit-content;
    margin-bottom: 0.5em;
    margin-inline: auto;
    height: fit-content;
}

.record-category {
    background-color: #00000012;
    border-radius: 20px;
    padding: 0.5em;
    width: fit-content;
    margin-bottom: 0.2em;
}

.record-info {
    display: flex;
}

.record-score,
.record-time,
.record-guesses {
    padding: 0.5em;
    align-self: center;
    background-color: white;
    margin: 0.2em;
    border-radius: 10px;
}

.record-guesses {
    display: flex;
}

.record-correct {
    color: #87df00;
    margin-right: 0.5em;
}

.record-wrong {
    color: #cd0000;
}

#string-code {
    text-align: center;
    color: #ffffff0a;
}

#title {
    font-size: 2em;
    text-align: center;
}

#guesses-container {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    font-family: monospace;
}

#correct-guesses {
    color: #87df00;
    margin-right: 1em;
    font-size: 3em;
}

#wrong-guesses {
    color: #cd0000;
    margin-right: 1em;
    font-size: 3em;
}

#remaining-guesses {
    color: black;
    font-size: 3em;
}

#timer {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    color: #cd0000;
}

#restart-button {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 3em;
    filter: invert(1);
}

#restart-button:hover {
    filter: invert(1) brightness(0.7);
}

#display-image {
    width: 20em;
    height: 20em;
    margin-inline: auto;
}

#display-image.menu {
    width: 15em;
    height: 15em;
}

#display-image.weapon {
    width: 100%;
    max-width: 1000px;
}

#display-image.splashart {
    text-align: center;
    height: 30em;
    width: unset;
}

#display-image img {
    width: 100%;
}

#display-image.splashart img {
    height: 100%;
    width: unset;
}

#mode-freeform {
    width: 20em;
    margin-inline: auto;
    justify-content: center;
}

#mode-freeform input {
    font-size: 2em;
    width: 10em;
    height: 2em;
    text-align: center;
}

#mode-freeform div {
    font-size: 3em;
    margin-top: 0.5em;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    margin-left: 0.1em;
}

#mode-freeform input.failed {
    color: red;
}

#mode-freeform input.halfcorrect {
    color: orange;
}

#mode-multichoice {
    width: 20em;
    margin-inline: auto;
    margin-top: 2em;
}

#mode-multichoice div {
    font-size: 2em;
    padding-block: 0.5em;
    margin-bottom: 0.2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

#mode-multichoice div:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#mode-multichoice div.wrong-choice {
    background-color: rgb(255 77 77 / 20%);
}

#mode-multichoice div.correct-choice {
    background-color: rgb(41 247 47 / 20%);
}

#input-type,
#time-limit,
#guess-limit,
#colour-mode,
#content-type,
#lenience-setting,
#datemode,
#conscious-setting {
    display: flex;
    width: 30em;
    margin-inline: auto;
    justify-content: center;
}

#content-type {
    flex-wrap: wrap;
}

#content-type div {
    margin-bottom: 0.5em;
}

.option-label {
    font-size: 1.5em;
    text-align: center;
    margin-block: 0.2em;
}

#input-type div,
#time-limit div,
#guess-limit div,
#colour-mode div,
#content-type div,
#lenience-setting div,
#datemode div,
#conscious-setting div {
    font-size: 1.2em;
    padding: 0.5em;
    margin-inline: 0.5em;
    background-color: rgba(0, 0, 0, 0.1);
    min-width: 2em;
    text-align: center;
}

#input-type div:hover,
#time-limit div:hover,
#guess-limit div:hover,
#colour-mode div:hover,
#content-type div:hover,
#lenience-setting div:hover,
#datemode div:hover,
#conscious-setting div:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#input-type div.selected,
#time-limit div.selected,
#guess-limit div.selected,
#colour-mode div.selected,
#content-type div.selected,
#lenience-setting div.selected,
#datemode div.selected,
#conscious-setting div.selected {
    background-color: rgba(0, 0, 0, 0.3);
    outline: solid 0.1em white;
}

#start-banner,
#return-button,
#retry-button,
#preload-banner {
    width: 30em;
    margin-inline: auto;
    text-align: center;
    margin-top: 2em;
    background-color: white;
}

#start-banner div,
#return-button div,
#retry-button div,
#preload-banner div {
    font-size: 2.2em;
    color: #627faa;
    font-family: monospace;
}

#start-banner:hover,
#return-button:hover,
#retry-button:hover,
#preload-banner:hover {
    filter: brightness(0.9);
}

#total-time {
    text-align: center;
    font-size: 5em;
}

#final-score {
    font-size: 3em;
    text-align: center;
}

#final-guesses {
    display: flex;
    background-color: #ffffff7a;
    inline-size: fit-content;
    margin-inline: auto;
    border-radius: 20px;
}

#final-correct-guesses {
    color: #87df00;
    font-size: 3em;
    font-family: monospace;
    margin-inline: 0.5em;
}

#final-wrong-guesses {
    color: #cd0000;
    font-size: 3em;
    font-family: monospace;
    margin-inline: 0.5em;
}

#modifiers-short {
    text-align: center;
}

.record-hash {
    text-align: center;
    color: rgb(255 255 255 / 15%);
}

#preload-section {
    width: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: wrap;
}

#preload-section img {
    height: 5em;
}

.last-piece {
    width: 5em;
    height: 5em;
    background: 
    repeating-conic-gradient(black 0% 25%, white 0% 50%) 
      50% / 20px 20px
}

@media (max-width: 1200px) {
    #content-body {
        flex-wrap: wrap;
    }

    #content-1 {
        display: none;
    }

    #content-2 {
        width: 100%;
    }

    #content-3 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2em;
    }
}

@media (max-width: 1000px) {
    #content-body {
        font-size: 0.7em;
    }

    #title {
        margin-top: 2em;
    }

    #restart-button {
        bottom: 5em;
    }
}